{% extends "survey/layout.html" %}

{% block content %}

<section class="bg-header bg-centerTop70 bg-cover">
    <div class="bg-filter sTop">
        <div class="container">
            <div class="jumbotron trn v-center">
                <h1>Google Korea Android Conference</h1>
                <div class="space-sm"></div>
                <p>강남구 영동대로 417, 오토웨이타워, 구글캠퍼스 서울<br/>
                2015.04.18</p>
                <div class="space-sm"></div>

                {% if messages %}
                    {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}

                <ul class="list-inline">
                    <!--
                    <li><a href="#" class="btn btn-default-trn btn-xlg scroll"><i class="fa fa-bolt"></i>Start a trial</a></li>
                    <li><a href="#learn-more" class="btn btn-primary btn-xlg scroll"><i class="fa fa-paper-plane-o"></i>Learn More</a></li>
                    -->

                    {% if not survey %}
                        <li>
                            <a href="{% url "survey:form" event.id %}" style="text-align: center; text-size: 3em;" class="btn btn-primary btn-xlg">
                                <i class="fa fa-bolt"></i> 신청하기
                            </a>
                        </li>
                    {% else %}
                        <li>
                            {% if not survey.is_approved %}
                                <a href="{% url "survey:form" event.id %}" style="text-align: center; text-size: 3em;" class="btn btn-default-trn btn-xlg">
                                    승인대기 중
                                </a>
                            {% else %}
                                <a href="{% url "survey:form" event.id %}" style="text-align: center; text-size: 3em;" class="btn btn-success btn-xlg">
                                    승인완료
                                </a>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="lg-title lg-title-border">발표자</h2>
        <div class="row">
            {% for speaker in speaker_list %}
                {% if forloop.counter0|divisibleby:"3" %}
                    <div class="clearfix visible-md visible-lg" style="margin-bottom: 20px;"></div>
                {% endif %}
                {% if forloop.counter0|divisibleby:"2" %}
                    <div class="clearfix visible-sm" style="margin-bottom: 20px;"></div>
                {% endif %}
                <div class="col-md-4 col-lg-4 col-sm-6 wow fadeInLeft" data-wow-delay="0.8s">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <img class="img-circle" src="{{ speaker.profile_image.url }}" style="width: 200px; margin: 10px 0;" />
                            <h3>{{ speaker.name }}</h3>
                            <p>{{ speaker.profile }}</p>
                        </div>
                        <div class="panel-footer">
                            <h4 class="text-center">{{ speaker.keyword }}</h4>
                            <p>{{ speaker.detail }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<div class="bg-11 bg-cover bg-center">
    <div class="section-lg bg-filter-v2">
        <div class="container">
            <div id="testimonial" class="carousel slide" data-ride="carousel" data-interval="4000">
                <div class="carousel-inner">
                    <div class="item">
                        <div class="testimonial">
                            <p>"Every time you use a phone, or a computer, you use the ideas that Alan Turing invented. A hero."</p>
                            <div class="space-sm"></div>
                            <em>- Eric Schmidt</em>
                        </div>
                    </div>
                    <div class="item active">
                        <div class="testimonial">
                            <p>"Using RxJava to replace loaders and internal lib to replace fragments/activities. All that's left is views, android.animation.*, and bliss."</p>
                            <div class="space-sm"></div>
                            <em>- Jake Wharton</em>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial">
                            <p>"the definition of open: "mkdir android ; cd android ; repo init -u git://android.git.kernel.org/platform/manifest.git ; repo sync ; make"</p>
                            <div class="space-sm"></div>
                            <em>- Andy Rubin</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <h2 class="lg-title lg-title-border">찾아오시는 길</h2>
        <div class="row">
            <p><img src="{{ STATIC_URL }}survey/google-campus-map.jpg" style="width: 100%;" /></p>
            <p>
                <a href="http://map.daum.net/?urlX=514079&urlY=1113010&q=%EC%84%9C%EC%9A%B8+%EA%B0%95%EB%82%A8%EA%B5%AC+%EC%98%81%EB%8F%99%EB%8C%80%EB%A1%9C+417" target="_blank"><i class="fa fa-map-marker"></i> 다음 지도</a> &nbsp;
                <a href="http://map.daum.net/?urlX=514079&urlY=1113010&q=%EC%84%9C%EC%9A%B8+%EA%B0%95%EB%82%A8%EA%B5%AC+%EC%98%81%EB%8F%99%EB%8C%80%EB%A1%9C+417" target="_blank"><i class="fa fa-map-marker"></i> 네이버 지도</a>
            </p>
        </div>
    </div>
</section>

{% endblock %}
