<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta id="viewport" name="viewport" content="width=320, initial-scale=1, minimum-scale=1, maximum-scale=1, target-densitydpi=device-dpi, user-scalable=no;" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap-material-design/dist/css/material.min.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}festi/bootstrap.css" />
<script src="{{ STATIC_URL }}/react/react.js"></script>
<script src="{{ STATIC_URL }}/react/JSXTransformer.js"></script>
{% block react %}{% endblock %}
<title>{% block title %}survey{% endblock %}</title>
</head>
<body>
</body>
</html>
