<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta id="viewport" name="viewport" content="width=320, initial-scale=1, minimum-scale=1, maximum-scale=1, target-densitydpi=device-dpi, user-scalable=no;" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap-material-design/dist/css/material.min.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}festi/bootstrap.css" />
<title>{% block title %}survey{% endblock %}</title>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Survey</a>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; GDG Korea</p>
        </div>
    </footer>
</body>
</html>
