{% extends "conference/layout.html" %}

{% block content %}
    about.html

<table>
    <thead>
        <tr>
            <th></th>
            <th>Ipsum</th>
            <th>Ipsum</th>
            <th>Ipsum</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Ipsum</th>
            <td>Dolor</td>
            <td>Dolor</td>
            <td rowspan="2">Dolor</td>
        </tr>
        <tr>
          <th>Ipsum</th>
          <td>Dolor</td>
          <td>Dolor</td>
        </tr>
    </tbody>
</table>
{% endblock %}

