<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta id="viewport" name="viewport" content="width=320, initial-scale=1, minimum-scale=1, maximum-scale=1, target-densitydpi=device-dpi, user-scalable=no;" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <script src="{{ STATIC_URL }}react/react-with-addons.js"></script>
    <script src="{{ STATIC_URL }}react/JSXTransformer.js"></script>
    <script src="{{ STATIC_URL }}eventEmitter/EventEmitter.js"></script>
    <script src="{{ STATIC_URL }}js/constants/FestiConstants.js"></script>
    <script src="{{ STATIC_URL }}js/dispatchers/Dispatcher.js"></script>
    <script src="{{ STATIC_URL }}js/dispatchers/AppDispatcher.js"></script>
    <script src="{{ STATIC_URL }}js/stores/FestiStores.js"></script>
    <script src="{{ STATIC_URL }}js/actions/FestiActions.js"></script>
    <title>{% block title %}conference{% endblock %}</title>
</head>
<body id="page-top" class="index">

<!-- navbar -->
<div class="navbar navbar-header navbar-fixed-top navbar-default navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
        <a class="navbar-brand" href="{{ URL }}/">Android Conference</a>
        <li><a href="{{ URL }}/about">About</a></li>
        <li><a href="{{ URL }}/speaker">Speaker</a></li>
        <li><a href="{{ URL }}/survey">Survey</a></li>
    </ul>
</div>

<!--
    <ul>
        <li><a href="{% url "conference:index" %}">home</a></li>
        <li><a href="{% url "conference:speaker" %}">speaker</a></li>
        <li><a href="{% url "conference:about" %}">about</a></li>
    </ul>

-->
    {% block content %}
    {% endblock %}
</body>
</html>
