<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta id="viewport" name="viewport" content="width=320, initial-scale=1, minimum-scale=1, maximum-scale=1, target-densitydpi=device-dpi, user-scalable=no;" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap-material-design/dist/css/material.min.css" />
    <script src="{{ STATIC_URL }}bootstrap-material-design/dist/js/material.js"></script>
    <script src="{{ STATIC_URL }}jquery/dist/jquery.js"></script>
    {% comment %}
    <script src="{{ STATIC_URL }}react/react-with-addons.js"></script>
    <script src="{{ STATIC_URL }}react/JSXTransformer.js"></script>
    <script src="{{ STATIC_URL }}eventEmitter/EventEmitter.js"></script>
    <script src="{{ STATIC_URL }}js/constants/FestiConstants.js"></script>
    <script src="{{ STATIC_URL }}js/dispatchers/Dispatcher.js"></script>
    <script src="{{ STATIC_URL }}js/dispatchers/AppDispatcher.js"></script>
    <script src="{{ STATIC_URL }}js/stores/FestiStores.js"></script>
    <script src="{{ STATIC_URL }}js/actions/FestiActions.js"></script>
    {% endcomment %}
    <title>{% block title %}conference{% endblock %}</title>
    <style>
        body { padding-top: 60px; }
    </style>
</head>
<body id="page-top" class="index">

<!-- navbar -->
<div class="navbar navbar-header navbar-fixed-top navbar-default navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
        <a class="navbar-brand" href="{% url "conference:index" %}">Android Conference</a>
        <li><a href="{% url "conference:about" %}">About</a></li>
        <li><a href="{% url "conference:speaker" %}">Speaker</a></li>
        {% if event %}
            <li><a href="{% url "survey:form" event.id %}">Survey</a></li>
        {% endif %}
        {% if user.is_authenticated %}
            <li><a href="{% url "account_logout" %}">로그아웃</a></li>
        {% endif %}
    </ul>
</div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>
