<!doctype html>
<html>
<head>
<title>conference</title>
</head>
<body>

    <ul>
        <li><a href="{% url "conference:index" %}">home</a></li>
        <li><a href="{% url "conference:speaker" %}">speaker</a></li>
        <li><a href="{% url "conference:about" %}">about</a></li>
    </ul>

    {% if user.is_authenticated %}
        <a href="{% url "account_logout" %}">로그아웃</a>
    {% endif %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>
