{% extends "conference/layout.html" %}

{% block content %}
    speaker.html
    <table>
    <thead>
        <tr>
            <th>name</th>
            <th>profile_image</th>
            <th>topic</th>
            <th>detail</th>
        </tr>
    </thead>
    <tbody>
    {% for speaker in speaker_list %}
    <tr>
        <td>{{ speaker.name }}</td>
        <td><img src="{{ speaker.profile_image.url }}" style="max-width: 100px;" /></td>
        <td>{{ speaker.topic }}</td>
        <td>{{ speaker.detail }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}

